.Skills-container {
  padding: 120px;
  padding-top: 0%;
  font-weight: 300;
}
.skillsGrid {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 10px;
}
main div {
  transition: all ease-in 0.5s;
}
.chip {
  font-size: 20px;
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
}
.lan {
  background-color: rgb(229, 182, 94);
  transform: translateX(-150%);
  opacity: 0;
}
.web {
  background-color: lightblue;
  transform: translateX(-150%);
  opacity: 0;
}
.ds {
  background-color: rgb(121, 224, 169);
  transform: translateX(+150%);
  opacity: 0;
}
.ss {
  background-color: rgb(224, 166, 240);
  transform: translateX(+150%);
  opacity: 0;
}
@media screen and (min-width: 924px) and (max-width: 1000px) {
  .Skills-container {
    margin-top: 0px;
  }
}

@media screen and (min-width: 377px) and (max-width: 924px) {
  .Skills-container {
    padding: 0px;
    font-size: 15px;
    font-weight: 300;
  }
  .h1 {
    font-size: 20px;
  }
  .chip {
    font-size: 15px;
  }
  .skillsGrid {
    gap: 10px;
  }
}

@media screen and (max-width: 378px) {
  .Skills-container {
    padding: 0%;
    font-size: 10px;
    font-weight: 300;
  }
  .Skills-heading {
    font-size: 40px;
  }
  .chip {
    font-size: 10px;
  }
  .skillsGrid {
    gap: 5px;
  }
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
  transition: transform 1.5s;
}

.slide-left {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
